
.wrapper-404{
    margin-bottom: 10rem;
    .h2-404{
        color: #E0E0E2;
        text-shadow: 2px 2px 3px #FF6F59;
        text-align: center;
        margin-top: 5rem;
        font-size: 2.5rem;
    }
    .h3-404{
        color: #E0E0E2;
        text-shadow: 2px 2px 3px #FF6F59;
        text-align: center;
        margin-top: 3rem;
    }
    a{
        color: #E0E0E2;
        text-decoration: none;
        
    }
    .bth-btn{
        border: 2px solid #FF6F59;
        background-color: #2C302E;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        color: #E0E0E2;
        border-radius: 5px;
        padding: .6rem;
        font-size: 1rem;
        margin-top: 5rem;
        margin-bottom: 10rem;
        
    }.bth-btn:hover{
        background-color: #FF6F59;
        cursor: pointer;
        transition: border-color 0.5s, background-color 0.5s, color 0.5s;
    }
    
}

@media (min-width:600px) {
    .wrapper-404{
        margin-bottom: 15rem;
        .h2-404{
            margin-top: 15rem;
        }
       
    }
}

@media (min-width:1800px) {
    .wrapper-404{
        margin-bottom: 20rem;
    }
}
