

.hero-sec{
    padding-bottom: 2rem;
    z-index: 5;
    .hero-text{
    color: #E0E0E2;
    font-size: 3rem;
    text-align: center;
}
.top-bar, .bottom-bar{
    width: 155px;
    margin: 0 auto;
    height: 10px;
    background-color: #FF6F59;
}
@media (min-width: 454px) {
    .top-bar, .bottom-bar{
        width: 320px;
    }
    
}
   
}
// Desktop Style
@media (min-width: 600px) {
    .hero-sec{
        z-index: 6;
    margin-top: 7rem;
    .hero-text{
    color: #E0E0E2;
    font-size: 4rem;
    text-align: center;
}
.top-bar, .bottom-bar{
    width: 450px;
    margin: 0 auto;
    height: 10px;
    background-color: #FF6F59;
}
}
}

@media (min-width: 1290px) {
    .hero-sec{
        margin-top: 8.5rem;
        .hero-text{
            font-size: 5rem;
        }
        .bottom-bar, .top-bar{
            width: 560px;
        }
    }
    
}
