

.hero-sec{
    padding-bottom: 2rem;
    .hero-text{
    color: white;
    font-size: 3rem;
    text-align: center;
}
.top-bar, .bottom-bar{
    width: 155px;
    margin: 0 auto;
    height: 10px;
    background-color: #B38B59;
}
@media (min-width: 454px) {
    .top-bar, .bottom-bar{
        width: 320px;
    }
    
}
   
}
// Desktop Style
@media (min-width: 600px) {
    .hero-sec{
    margin-top: 7rem;
    .hero-text{
    color: white;
    font-size: 4rem;
    text-align: center;
}
.top-bar, .bottom-bar{
    width: 450px;
    margin: 0 auto;
    height: 10px;
    background-color: #B38B59;
}
}

}
