
.site-nav{
    visibility: hidden;
}
.site-footer{
    margin-top: 70%;
}
.mobile-nav{
        display: flex;
        justify-content: center;
    .mobile-nav-ul{
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;
        li{
            list-style: none;
            padding: 5px; 
            a{
                text-decoration: none;
                color: white;
            }
        }
    }

}



// Desktop Style
@media (min-width: 600px) {
    .mobile-nav{
        visibility: hidden;
    }
    .site-nav{
        visibility: visible;
    .nav-ul{
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;
        li{
            list-style: none;
            padding: 1rem;
            font-family: 'Josefin Sans', sans-serif;
            a{
                text-decoration: none;
                color: white;
            }
        }
    }
}
}
