
.site-nav{
    visibility: hidden;
}
.bottom-nav{
    visibility: visible;
    color: palevioletred;
    .bottom-nav-item{
        font-size: 2rem;
    }
}




// Desktop Style
@media (min-width: 600px) {
    .bottom-nav{
        visibility: hidden;
    }
    .site-nav{
        visibility: visible;
    .nav-ul{
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;
        li{
            list-style: none;
            padding: 1rem;
            font-family: 'Josefin Sans', sans-serif;
            a{
                text-decoration: none;
                color: white;
            }
        }
    }
}
}
